.about-container{
    font-family: 'Crimson Pro', serif;
        font-size: 48px;

}
.header{
    position: sticky;top: 0;
}
.sami-about-container{ 
   
    background-color:  white;
    height: 100vh;
    

    
    
}

.uls-continer
{ font-family: 'Courier New', Courier, monospace;


}
.about-li{ margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.container-ul-m {
    height: 40vh;

}

.container-ul-m{
    height: 20%;
}
