.backgrownd{background-image:url(/images/Netflix-Background.jpg);
    height: 100%;

}
.header{
    position: sticky;top: 0;
}
.sami-about-container{ 
   
   background-color: blue;
    height: 100%;
    color: white;
    

    
    
}

.uls-continer
{ font-family: 'Courier New', Courier, monospace;


}
.about-li{ margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.container-ul-m {
    height: 40vh;

}

.container-ul-m{
    height: 20%;
}
