.about-container{width: 80vh;

}
.sami-about-container{ height:90vh; 
    background-color: black;
    color: white;
    
}
.uls-continer{ font-family: 'Courier New', Courier, monospace;


}
.about-li{ margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
}